<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Our App</title>
</head>

<body class="bg-gradient-to-br from-purple-700 to-yellow-300">
    <h1 class="flex justify-center text-6xl italic underline decoration-solid"> About Us </h1>
        <div class="w-screen h-screen flex justify-center items-center">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-center -m-4">
                    <div class="p-4 lg:w-1/3">
                            <div class="h-full bg-gray-200 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                                <h2 class="title-font sm:text-2xl text-xl font-medium text-black mb-3">Daniel Moran</h2>
                                <ul>
                                    <li class="font-semibold">Contributions</li>
                                    <p>worked on the about us page</p>
                                    <br>
                                    <li class="font-semibold">Github</li>
                                    <p><a class= "text-blue-500" href="https://github.com/danielm19/CPSC349-Project-2">Daniel's github</a></p>
                                </ul>

                            </div>
                    </div>
                        <div class="p-4 lg:w-1/3">
                            <div class="h-full bg-gray-200 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                                <h2 class="title-font sm:text-2xl text-xl font-medium text-black mb-3">Hao Ly</h2>
                                <ul>
                                    <li class="font-semibold">Contributions</li>
                                    <p>worked on login and signup page</p>
                                    <br>
                                    <li class="font-semibold">Github</li>
                                    <p><a class= "text-blue-500" href="https://github.com/lyquochao84/CPSC349-Project-2">Hao's github</a></p>
                                </ul>
                            </div>
                    </div>

                        <div class="p-4 lg:w-1/3">
                            <div class="h-full bg-gray-200 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                                <h2 class="title-font sm:text-2xl text-xl font-medium text-black mb-3">Kevin Cacho</h2>
                                <ul>
                                    <li class="font-semibold">Contributions</li>
                                    <p>worked on landing page</p>
                                    <br>
                                    <li class="font-semibold">Github</li>
                                    <p><a class= "text-blue-500" href="https://github.com/kicacho01/CPSC349-Project-2">Kevin's github</a></p>
                                </ul>

                            </div>
                    </div>

                        <div class="p-4 lg:w-1/3">
                            <div class="h-full bg-gray-200 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
                                <h2 class="title-font sm:text-2xl text-xl font-medium text-black mb-3">Elizabeth Steubs</h2>
                                <ul>
                                    <li class="font-semibold">Contributions</li>
                                    <p>worked on app index page</p>
                                    <br>
                                    <li class="font-semibold">Github</li>
                                    <p><a class= "text-blue-500" href="https://github.com/ellieste">Elizabeth's github</a></p>
                                </ul>

                            </div>
                    </div>
                </div>

            </div>

            
        </div>

        
    </body>
